.container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
}
h1 {
  text-align: center;
}
.logo {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 15px;
}
.player-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
.player-details {
  width: 25%;
  margin-left: 20px;
}
